<p class="contribution-notes">
  
</p>

<h5><i class="fa fa-tag success-text-color"></i> Tags</h5>

<div class="tag-list">
{% for tag in site.tags %}
  <div class="tag-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h5 class="tag-group-title" id="{{ tag_name | slugize }}">
      {{ tag_name }}
    </h5>

    {% for post in site.tags[tag_name] %}
      {% if page.title == post.title %}
        {% assign class = 'active' %}
      {% else %}
        {% assign class = '' %}
      {% endif %}

      <article class="tag-item {{ class }}">
        <a class="tag-item-title success-text-color" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
      </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
