---
layout: default
---

{% for post in site.posts %}
<section class="post">
  <header class="post-header">
    {% if post.author %}
      {% assign author_name = site.authors[post.author].name %}
    {% else %}
      {% assign author_name = site.owner.name %}
    {% endif %}

    <h2>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
    </h2>

    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {% if post.categories.size > 0 %}
      <span class="bullet"></span>
      {% for cat in post.categories %}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        {% unless forloop.last %}
        <span>/</span>
        {% endunless %}
      {% endfor %}
      {% endif %}
      <span class="bullet"></span>
      {{ author_name }}
    </p>

    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

</section>
{% endfor %}
